/* Empty. Add your own CSS if you like */
ion-item.item.home-win-predicted {
    background-color: #00A000;
    color: #ffffff;
    text-decoration-color: #ffffff;
}

ion-item.item.away-win-predicted {
    background-color: #880000;
    color: #ffffff;
    text-decoration-color: #ffffff;
}

ion-item.item.draw-predicted {
    background-color: #0000FF;
    color: #ffffff;
    text-decoration-color: #ffffff;
}
